<!DOCTYPE html>
<html lang="" xml:lang="">
  <head>
    <title>A {xaringan} template for ASCoR presentations</title>
    <meta charset="utf-8" />
    <meta name="author" content="Fabio Votta" />
    <meta name="date" content="2021-03-19" />
    <script src="libs/header-attrs-2.6/header-attrs.js"></script>
    <link href="libs/remark-css-0.0.1/default.css" rel="stylesheet" />
    <link rel="stylesheet" href="ascor.css" type="text/css" />
  </head>
  <body>
    <textarea id="source">
class: bottom, left, title-slide

# A {xaringan} template for ASCoR presentations
## s u b t i t l e
### Fabio Votta
### 2021-03-19

---


layout: true
    
&lt;div class="logo"&gt;&lt;/div&gt; 




---


# Heading 1

You can use several heading levels

## Heading 2

This is text under a second level heading. And some **bold** and  _italics_ text.

### Heading 3

It's also easy to add `\(\LaTeX\)` code
$$x^n + y^n = z^n $$

Three dashes make a new slide

---


# Heading 1

- something  
- something more

1. numbered lists
1. number two list

---

## Add some R code


```r
summary(mtcars)
```

```
##       mpg             cyl             disp             hp       
##  Min.   :10.40   Min.   :4.000   Min.   : 71.1   Min.   : 52.0  
##  1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8   1st Qu.: 96.5  
##  Median :19.20   Median :6.000   Median :196.3   Median :123.0  
##  Mean   :20.09   Mean   :6.188   Mean   :230.7   Mean   :146.7  
##  3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0   3rd Qu.:180.0  
##  Max.   :33.90   Max.   :8.000   Max.   :472.0   Max.   :335.0  
##       drat             wt             qsec             vs        
##  Min.   :2.760   Min.   :1.513   Min.   :14.50   Min.   :0.0000  
##  1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000  
##  Median :3.695   Median :3.325   Median :17.71   Median :0.0000  
##  Mean   :3.597   Mean   :3.217   Mean   :17.85   Mean   :0.4375  
##  3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000  
##  Max.   :4.930   Max.   :5.424   Max.   :22.90   Max.   :1.0000  
##        am              gear            carb      
##  Min.   :0.0000   Min.   :3.000   Min.   :1.000  
##  1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000  
##  Median :0.0000   Median :4.000   Median :2.000  
##  Mean   :0.4062   Mean   :3.688   Mean   :2.812  
##  3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000  
##  Max.   :1.0000   Max.   :5.000   Max.   :8.000
```

---

## Add cool gifs to your slides!


![](https://s4.gifyu.com/images/ezgif-4-d64ba87b438c.gif)

---

## Create two columns

.pull-left[

This text goes in the left column.

![](https://s4.gifyu.com/images/ezgif-4-d64ba87b438c.gif)

]

.pull-right[

This text goes in the right column.

![](https://s4.gifyu.com/images/ezgif-4-d64ba87b438c.gif)


]



---

class: middle, center

# You can also create *special* slides


For example:

`class: white`

gives you a white background rather than a babyblue one. 

This comes in handy for graphs (with white backgrounds).

---

class: white

### add `class: white`






```r
ggplot(diamonds, aes(x = carat, y = price, color = clarity)) +
  geom_point() +
  theme_minimal() 
```

&lt;img src="skeleton_files/figure-html/unnamed-chunk-3-1.png" width="720" /&gt;


---

class: black, middle

# a black slide with middle centering

using `class: black`


---

class: black

# Heading 1

## Heading 2

### Heading 3

- something  
- something more

1. numbered lists
1. number two list

---

layout: false
class: title-slide

&lt;br&gt;

## You can also load in the title slide again

adding `layout: false` cancels the logo for all slides following it

---

layout: true
&lt;div class="logo"&gt;&lt;/div&gt; 

&lt;!-- Re-add logo by adding a blank slide with this content --&gt;
---

But it can be re-added  using a slide with 

```bash
layout: true
&lt;div class="logo"&gt;&lt;/div&gt; 
```

at the top.

---

# Hope you find this useful!


.pull-left[

![](https://media.tenor.com/images/abf1057f2d6774fa38997e8987f18949/tenor.gif)
![](https://media.tenor.com/images/abf1057f2d6774fa38997e8987f18949/tenor.gif)

![](https://media.tenor.com/images/abf1057f2d6774fa38997e8987f18949/tenor.gif)
![](https://media.tenor.com/images/abf1057f2d6774fa38997e8987f18949/tenor.gif)

![](https://media.tenor.com/images/abf1057f2d6774fa38997e8987f18949/tenor.gif)
![](https://media.tenor.com/images/abf1057f2d6774fa38997e8987f18949/tenor.gif)


]

.pull-right[

![](https://media.tenor.com/images/abf1057f2d6774fa38997e8987f18949/tenor.gif)
![](https://media.tenor.com/images/abf1057f2d6774fa38997e8987f18949/tenor.gif)

![](https://media.tenor.com/images/abf1057f2d6774fa38997e8987f18949/tenor.gif)
![](https://media.tenor.com/images/abf1057f2d6774fa38997e8987f18949/tenor.gif)

![](https://media.tenor.com/images/abf1057f2d6774fa38997e8987f18949/tenor.gif)
![](https://media.tenor.com/images/abf1057f2d6774fa38997e8987f18949/tenor.gif)


]



    </textarea>
<style data-target="print-only">@media screen {.remark-slide-container{display:block;}.remark-slide-scaler{box-shadow:none;}}</style>
<script src="https://remarkjs.com/downloads/remark-latest.min.js"></script>
<script>var slideshow = remark.create({
"highlightStyle": "github",
"highlightLines": true,
"countIncrementalSlides": false,
"slideNumberFormat": "%current%",
"ratio": "16:9"
});
if (window.HTMLWidgets) slideshow.on('afterShowSlide', function (slide) {
  window.dispatchEvent(new Event('resize'));
});
(function(d) {
  var s = d.createElement("style"), r = d.querySelector(".remark-slide-scaler");
  if (!r) return;
  s.type = "text/css"; s.innerHTML = "@page {size: " + r.style.width + " " + r.style.height +"; }";
  d.head.appendChild(s);
})(document);

(function(d) {
  var el = d.getElementsByClassName("remark-slides-area");
  if (!el) return;
  var slide, slides = slideshow.getSlides(), els = el[0].children;
  for (var i = 1; i < slides.length; i++) {
    slide = slides[i];
    if (slide.properties.continued === "true" || slide.properties.count === "false") {
      els[i - 1].className += ' has-continuation';
    }
  }
  var s = d.createElement("style");
  s.type = "text/css"; s.innerHTML = "@media print { .has-continuation { display: none; } }";
  d.head.appendChild(s);
})(document);
// delete the temporary CSS (for displaying all slides initially) when the user
// starts to view slides
(function() {
  var deleted = false;
  slideshow.on('beforeShowSlide', function(slide) {
    if (deleted) return;
    var sheets = document.styleSheets, node;
    for (var i = 0; i < sheets.length; i++) {
      node = sheets[i].ownerNode;
      if (node.dataset["target"] !== "print-only") continue;
      node.parentNode.removeChild(node);
    }
    deleted = true;
  });
})();
(function() {
  "use strict"
  // Replace <script> tags in slides area to make them executable
  var scripts = document.querySelectorAll(
    '.remark-slides-area .remark-slide-container script'
  );
  if (!scripts.length) return;
  for (var i = 0; i < scripts.length; i++) {
    var s = document.createElement('script');
    var code = document.createTextNode(scripts[i].textContent);
    s.appendChild(code);
    var scriptAttrs = scripts[i].attributes;
    for (var j = 0; j < scriptAttrs.length; j++) {
      s.setAttribute(scriptAttrs[j].name, scriptAttrs[j].value);
    }
    scripts[i].parentElement.replaceChild(s, scripts[i]);
  }
})();
(function() {
  var links = document.getElementsByTagName('a');
  for (var i = 0; i < links.length; i++) {
    if (/^(https?:)?\/\//.test(links[i].getAttribute('href'))) {
      links[i].target = '_blank';
    }
  }
})();
// adds .remark-code-has-line-highlighted class to <pre> parent elements
// of code chunks containing highlighted lines with class .remark-code-line-highlighted
(function(d) {
  const hlines = d.querySelectorAll('.remark-code-line-highlighted');
  const preParents = [];
  const findPreParent = function(line, p = 0) {
    if (p > 1) return null; // traverse up no further than grandparent
    const el = line.parentElement;
    return el.tagName === "PRE" ? el : findPreParent(el, ++p);
  };

  for (let line of hlines) {
    let pre = findPreParent(line);
    if (pre && !preParents.includes(pre)) preParents.push(pre);
  }
  preParents.forEach(p => p.classList.add("remark-code-has-line-highlighted"));
})(document);</script>

<script>
slideshow._releaseMath = function(el) {
  var i, text, code, codes = el.getElementsByTagName('code');
  for (i = 0; i < codes.length;) {
    code = codes[i];
    if (code.parentNode.tagName !== 'PRE' && code.childElementCount === 0) {
      text = code.textContent;
      if (/^\\\((.|\s)+\\\)$/.test(text) || /^\\\[(.|\s)+\\\]$/.test(text) ||
          /^\$\$(.|\s)+\$\$$/.test(text) ||
          /^\\begin\{([^}]+)\}(.|\s)+\\end\{[^}]+\}$/.test(text)) {
        code.outerHTML = code.innerHTML;  // remove <code></code>
        continue;
      }
    }
    i++;
  }
};
slideshow._releaseMath(document);
</script>
<!-- dynamically load mathjax for compatibility with self-contained -->
<script>
(function () {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src  = 'https://mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML';
  if (location.protocol !== 'file:' && /^https?:/.test(script.src))
    script.src  = script.src.replace(/^https?:/, '');
  document.getElementsByTagName('head')[0].appendChild(script);
})();
</script>
  </body>
</html>
